# Variables públicas del frontend (Vite las inyecta automáticamente)
# Deben empezar con VITE_ para que Vite las exponga
VITE_CLERK_PUBLISHABLE_KEY=pk_test_Y2FwaXRhbC1ob3VuZC05My5jbGVyay5hY2NvdW50cy5kZXYk
